*
{
    font-family: Raleway;
    background-color: red;
}

a
{text-decoration: none;}

/* Mise en forme */

header {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }

main {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
  
footer
{
        width: 100%;
        max-width: 1440px;
        margin: auto;
}

/* Classe Géneral */
.flexAI
{
    display: flex;
    align-items: center;
}
.flexCenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexAround
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexColumnCenter
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}  
.flexColumnBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.flexColumnAround
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.flexColumnBetweenNoCenter
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/* Couleur background */

.backBlue
{
    background-color: #0065FC;
}
.backSkyblue
{
    background-color: #deebff;
}
.backGrey
{
    background-color: #f2f2f2;
}

/* Couleur police */
.colorBlue
{ 
    color: #0065FC;
}

.colorSkyblue
{
    color: #deebff;
}
.colorGrey
{
    color: #f2f2f2}

/* Mise en forme texte */

.textBold
{
    font-weight: bold;
}
    /*  HEADER */

.deskTopNone
{
    display: none;
}



.sizeLinks
{
    width: 100%;
}

.sizeLink
{
    width: 140px; 
    height: 99px;
}

.sizeLink12
{
    margin-left: 62.5%;
}

.sizeNav
{
    height: auto;
}

.lsNone
{text-decoration: none;}


.l1
{   color: black; }

.l2
{
    color: #0065FC;}

.borderTop
{
    border-top: 1px solid transparent;}

.borderTop:hover
{
    border-top: 1px solid #0065FC;
    cursor: pointer;
}

.borderTop:hover > a
{
    color: #0065FC;
}
.logo
{margin-bottom: 6px;}

/* Champs de recherche */


.bordureResearch
{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}

.bordureNone
 {
     border: none;
 }

.iconSize
{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.search{
    height: 50px;
    width: 250px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.paddingSearch
{
    padding-left: 20px;
}

.buttonSearch
{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/* Filtres */ 

.filtre
{
    display: flex;
    align-items: center;
}

.margFiltre
{
    margin-top: 50px;
    margin-bottom: 40px;
}

.margFiltreTitre
{
    margin-right: 20px;
}

.filtreTextIcons
{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filtreTextIcons:hover > .filtreText 
{
    color: #0065FC;
}

.filtreTextIcons:hover > .filtreIcons 
{
    color: white;
    background: #0065FC;
}

.filtreText
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.filtreIcons
{
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
}
/* INFO */

.info
{
    display: flex;
    align-items: center;
}

.info i
{color: #0065FC;}

.parentIcon
{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/* Acommodation Color Link */

#accommodation a{ 
    color: black;
}

/* Hebergement */

.sizeHeb
{ 
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.sizePopular
{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}
.blocHeb
{
    padding-left: 20px;
    padding-right: 20px;

}

.cubeHeb
{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px  #f2f2f2;

}

.cubeHeb:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.aHeb:hover
{
    cursor: pointer;
    transform: scale(1.05);
}

.cubeTextHeb
{
    width: 90%;
}

.bloc1
{
    margin-bottom: 10px;
}

.bloc2
{
    margin-top: 10px;
}

.cubeTextHeb
{
    width: 90%;
}

.imgHeb1
{
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}   

.imgHeb2
{
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHeb3
{
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHeb4
{
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHeb5
{
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHeb6
{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

/* POPULAR */

.blocPop
{
    padding-left: 20px;
    padding-right: 20px;
}

.blocPop12
{
    margin-bottom: 25px;
}

.cubePop
{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
}

.cubePop:hover
{
    cursor: pointer;
    transform: scale(1.05);
}
.cubeDetPop
{
    width: 60%;
    padding-left: 5%;
}

.imgPop1
{
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px ;}
.imgPop2
{
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg"); 
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPop3
{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
/* Activities*/

.activities
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.blocActivities
{
    width: 100%;
    height: 600px;
}
.blocActLow
{
    width: 20%;
    height: 562px;
}
.cubeActivities
{
    width: 25%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2; 
}

.cubeActivities:hover
{
    cursor: pointer;
    transform: scale(1.02);
}

.cubeActLow
{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2; 

}

.cubeActLow:hover
{
    cursor: pointer;
    transform: scale(1.02);
}

.heightTitle
{
    height: 60px;
}

.titleAct
{
    display: flex;
    align-items: center;
    padding-left: 5%;
    width: 95% ;
     
}

#activities a
{color: black;}

.imgAct1
{

    background-image: url("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    border-radius: 15px 15px 0 0;
}

.imgAct2
{

    background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.imgAct3
{

    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgAct4
{

    background-image: url("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    border-radius: 15px 15px 0 0;
}
.imgAct5
{

    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.imgAct6
{

    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

/* Footer */

.footer
{
    height: 350px;
    margin-top: 25px;
}

.sizeBlocFoot
{
    height: 150px;
}
.margBlocFoot
{ margin-right: 30%;}

footer a{
    text-decoration: none;
    color: black; 
}
.margFootLink
{
    height: 25px;
}

@media screen and (max-width: 1295px) {
    .sizeLink12{
    margin-left: 57.5%;
    }
    .cubeTextHeb
    {
        min-height: 150px;
    }
    .sizeHeb
    {
        min-height: auto;
        padding: 20px;
    }
    .sizePopular
    
        {
            min-height: auto;
            padding: 20px;
        }
    
}

@media screen and (max-width :1024px)
{
    .sizeLink12
    {margin-left: 45%;}
}

@media screen and (max-width: 990px) {


    .sizeLink12{
    margin-left: 35%;
    }

    .mFW {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .filtreTextIcons{
        margin-bottom: 20px;}
    
    #accommodation
    {
        flex-direction: column-reverse;
        width: 100%;
    } 

    .blocPop
    {
        flex: none;
        width: 90%;
        margin-left: 0px;
        padding: 5%;
    }
    .blocHeb
    {
        flex: none;
        width: 90%;
        margin-right: 0px;
        margin-top: 50px;
        padding: 5%;    
    }
    
}

@media screen and (max-width: 770px) {

    .sizeLinks
    {
            width: 90%;
    }
    .sizeLink12
    {
        margin-left: 20%;
    }

    .blocHeb
    {
        height: auto;
    }

    .bloc1
    {
        flex-direction: column;
        margin-bottom: 0;
    }

    .bloc2
    {
        flex-direction: column;
        margin-bottom: 0;
    }
    .cubeHeb
    {
        width: 100%;
        margin-bottom: 50px;
    }

    .cubeTextHeb
    {
        min-height: auto;
    }

    .blocActivities
    {
        flex-direction: column;
        height: auto;
        padding-left: 5%;
        width: 90%;
    }
    .cubeActivities
    {
        width: 100%;
        margin-bottom: 50px;
    }
    .blocActLow
    { width: 100%;
        height: auto;
    }
    .cubeActLow
    {
        margin-bottom: 50px;
    }

    .imgAct1,.imgAct2,.imgAct3,.imgAct4,.imgAct5,.imgAct6
    {
        height: 200px;
    }
    .footer
    {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 20px;
    }
    .mPara
    {
        padding-left: 5%;
    }
}

@media screen and (max-width: 600px)
{
    
    html,body
    {
        margin: 0px;
        padding: 0px;
    }

    .sizeLien

    {
        flex-direction: row;
    }

    .sizeLink12
    {
        order: 1;
        width: 100%;
        margin-left: 0;

    }

    .sizeLinkM
    {
        width: 50%;
        border-top: none;
        border-bottom: 5px solid #f2f2f2;

    }

    .sizeLinkM:hover
    {
        border-top: 0;
        border-bottom: 5px solid #0065FC;

    }
    .sizeLinks
    {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mTitleH1
    {
        font-size: x-large;
        padding-left: 5%;
    }
    .mPara
    {
        padding-left: 5%;
    }
    .search
    {
        width: 200px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;

    }
    .bordureResearch
    {
        width: auto;
        border:none;
    }
    .buttonSearch
    {
        width: 50px;
        border-radius: 15px;
    }

    .deskTopNone
    {
        display: block;
    }

    .mNone
    {
        display: none;
    }
    
    .margFiltre{
        padding-left: 5%;
        padding-right: 5%;
    }

    .mEco
    {
        margin-right: 5px;
    }

    .mFam
    {
        margin-right: 0px;
    }
    .blocHeb
    {
        background-color: white;
    }

    .blocActivities
    {
        padding-left: 5%;
        width: 90%;
    }
}
    
 